# ambiente
NODE_ENV=development

# TELEGRAM
TELEGRAM_BOT_TOKEN=YOUR_BOT_TOKEN

# POSTGRESS TODO
DATABASE_URL=postgres://usuario:senha@host:5432/todo_bot

# GROQ API (Para transcrição de voz)
GROQ_API_KEY=sua_chave_groq_aqui

